.container {
  display: flex;
  gap: 12px;
  padding: 16px;
  background: #e6e6e6;
  border-radius: 8px;
  inline-size: 100%;
}

.baseInput {
  border: transparent;
  background: transparent;
  font-size: 16px;
  color: #989898;
}

.baseInput:focus {
  outline: none;
}
