.common {
    text-align: center;
    padding: 16px 48px;
    border: transparent;
    border-radius: 28px;
}

.default {
    inline-size: 183px;
}

.full {
    inline-size: 318px;
}

.primary {
    background-color: #bebebe;
    color: #393939;
}

.disabled {
background: #747474;
color: #cbcbcb80;

}