.common {
  inline-size: max-content;
  text-align: center;
  padding: 10px;
  border: transparent;
  border-radius: 8px;
  color: black;
}

.primary {
  inline-size: 100%;
  background-color: #d9ebed;
  color: #393939;
}

.disabled {
  background: #747474;
  color: #cbcbcb80;
}

.link {
inline-size: 100%;
color: black;
}

.small {
  inline-size: max-content;
}

.isActive {
  border-bottom: 1px solid red;
}
