.common {
  text-align: center;
  padding: 6px 25px;
  border: transparent;
  border-radius: 28px;
}

.primary {
  background-color: #bebebe;
  color: #393939;
}

.disabled {
  background: #747474;
  color: #cbcbcb80;
}
