.common {
  inline-size: max-content;
  text-align: center;
  padding: 10px;
  border: transparent;
  border-radius: 25px;
}

.primary {
  background-color: #bebebe;
  color: #393939;
}

.disabled {
  background: #747474;
  color: #cbcbcb80;
}
