.container {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 80px;
  gap: 10px;
  padding: 7px;
  border-radius: 15px;
  color: white;
}

.img {
    display: block;
    block-size: 15px;
}