.container {
  position: relative;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
  border-radius: 15px;
}

.image {
  inline-size: 100%;
  block-size: 100%;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 30px;
  block-size: 30px;
  position: absolute;
  border-radius: 10px;
  left: -15px;
  top: -15px;
  background: rgb(247, 216, 115);
}
