.container {
  position: relative;
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.8);
  border-radius: 15px;
}

.image {
  inline-size: 100%;
  block-size: 100%;
  border-radius: 10px;
}

.top {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 30px;
  block-size: 30px;
  position: absolute;
  border-radius: 10px;
  left: -10px;
  top: -10px;
  background: rgb(185, 184, 178);
}
