.container {
   padding-left: clamp(1.25rem, 0.4878rem + 3.7523vw, 5rem);
  padding-right: clamp(1.25rem, 0.4878rem + 3.7523vw, 5rem);
  display: flex;
  flex-direction: column;
  gap: 20px;
  block-size: 100%;
}

.films {
  display: grid;
  inline-size: 100%;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 30px;
}

.link {
  padding: 15px;
  background: rgb(82, 82, 82);
  border-radius: 8px;
  color: white;
}
