.container {
  padding: 0px 80px;
}

.films {
  display: grid;
  inline-size: 100%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.image {
  inline-size: 100%;
  object-fit: cover;
}
