.container {
  display: flex;
  inline-size: 100%;
  gap: 30px;
  padding-left: clamp(1.25rem, 0.4878rem + 3.7523vw, 5rem);
  padding-right: clamp(1.25rem, 0.4878rem + 3.7523vw, 5rem);
  min-height: 400px;
}

.image {
  max-inline-size: 400px;
  object-fit: cover;
  border-radius: 15px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filmInfo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.subTitle {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (width < 805px) {
.container {
  flex-direction: column;
}

}
