.container {
    display: flex;
    gap: 30px;
    padding: 0px 200px;
}

.image {
    max-inline-size: 400px;
 object-fit: cover;
 border-radius: 15px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.filmInfo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.buttons {
    display: flex;
    gap: 10px;
}